@page
@model AspDotNETWebApplication1.Pages.Books.CreateBook
@{
}
<form class="form-text" method="post">
    <div class="row mb-3">
        
        <div class="input-group-sm">
            <label class="col-form-label-sm">Book ID</label>
            <input type="text" name="Id" placeholder="Enter Id" required="True" /><br>
        </div>
    </div>
    <div class="row mb-3">
        
        <div class="input-group-sm">
            <label class="col-form-label-sm">Book Title</label>
            <input type="text" name="Title" placeholder="Enter Title" required="True" /><br>
        </div>
    </div>
    <div class="row mb-3">
        
        <div class="input-group-sm">
            <label class="col-form-label-sm">Book Author</label>
            <input type="text" name="Author" placeholder="Enter Author" required="True" /><br>
        </div>
    </div>
    <div class="row mb-3">
        
        <div class="input-group-sm">
            <label class="col-form-label-sm">Book Publication</label>
            <input type="text" name="Publication" placeholder="Enter Publication" required="True" /><br>
        </div>
    </div>
    <div class="row mb-3">

        <div class="input-group-sm">
            <label class="col-form-label-sm">Book Price</label>
            <input type="number" name="Price" placeholder="Enter Price" required="True"/><br>
        </div>
    </div>
    @if (Model.Message.Length > 0)
    {
        <div class="error-dic">
            <div class="alert-warning" role="alert" id="alert">
                <label style="color:red">@Model.Message</label>
                <button class="btn-close" data-dismiss="alert" onclick="document.getElementById('alert').remove()">Close</button>
            </div>
        </div>
    }
    <div class="row mb-3">

        <div class="input-group-sm">
            <button class="btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
